@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* GLOBAL  */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER  */

.site-header {
}
.site-header-top {
  background: #f6f6f6;

  width: 100%;
}
.site-header-container {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-logo {
  padding: 9px 6px 8px;
  background: #fff;
  border-radius: 4px;
  margin-right: 35px;
}
.site-header-logo-img {
  display: flex;
}
.corrency-rates {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.corrency-rates-item {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.corrency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.corrency-rates-type {
  color: #2959ce;
}
.corrency-rates-value {
  color: #666;
}
.site-header-top-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.registr-form {
  margin-right: 25px;
}
.registr-form input {
  width: 275px;
  height: 45px;
  background: #ffffff;
  border-radius: 60px;
  padding: 15px;
  outline: none;
  border: 0;
}

.sircle {
  display: flex;
  align-items: center;
  width: 70px;
  height: 36px;
  background: #dce6ff;
  border-radius: 39px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  padding: 3px;
  margin-right: 25px;
}
.lang-uz {
  padding: 9px 7px;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}
.lang-ru {
  color: #a6a6a6;
}
.get-in {
  text-decoration: none;
  background: #7296ec;
  border-radius: 10px;
  padding: 13px 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* SITE HEADER BOTTOM  */

.site-header-bottom {
}

.sitenav {
  display: flex;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}
.sitenav-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.navlist-item {
  margin-right: 34.44px;
}
.navlist-link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}
.navlist-link:hover {
  color: #2959ce;
}
.navlist-link:active {
  opacity: 0.6;
}

.banner-img {
  margin-top: 40px;
  margin-bottom: 50px;
}

/* MAIN CONTENT  */
.main-content {
  flex-grow: 1;
}

.new-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 60px;
}
.new-grid-blog {
  display: flex;
  flex-direction: column;
  width: 393px;
  height: 382px;
  padding: 20px 17px 15px;
  background: #f6f6f6;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;
}
.new-grid-blog-title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}
.new-grid-blog-link {
  text-decoration: none;
  color: #000000;
  font-family: "Rubik", sans-serif;
}

.new-grid-blog-link:hover {
  color: #2959ce;
}
.new-grid-blog-link:active {
  opacity: 0.6;
}

.new-grid-blog-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
.new-grid-blog-img {
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
  margin-top: auto;
}
.new-grid-footer {
  display: flex;
  align-items: center;
}
.new-grid-footer-img {
  margin-right: 10px;
}
.new-grid-footer-bottom {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}
.new-grid-footer-source {
  text-decoration: none;
  color: #5e5f61;
}
.new-grid-footer-source:hover {
  color: #2959ce;
}

/* NOTIFICATION */
.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1050px;
  height: 100px;
  background-image: url("/images/notification@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 24px 75px 24px 29px;
  margin-bottom: 60px;
}
.notification-title {
  width: 404px;
  height: 52px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0;
}
.notification-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background: #f78b3b;
  border-radius: 10px;
  padding: 13px 30px;
  text-decoration: none;
}
.notification-link:hover {
  opacity: 0.8;
}
.notification-link:active {
  opacity: 0.6;
}

/* WORLD NEWS */
.world-news {
  width: 100%;
  max-width: 1200px;
}
.world-new-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.world-news-blog {
  /* border: 2px solid yellow; */
  display: flex;
}
.world-news-blog-left {
  width: 797px;
  margin-bottom: -10px;
  margin-right: 10px;
}
.world-news-blog-left-card {
  width: 100%;
  display: flex;
  padding: 20px;
  background: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 10px;
}
.world-news-blog-left-card-img {
  width: 210px;
  height: 165px;
}
.world-news-blog-left-card-info {
  margin-left: 15px;
}
.world-news-blog-left-card-info-title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.world-news-blog-left-card-info-link {
  color: #000000;
  text-decoration: none;
}
.world-news-blog-left-card-info-link:hover {
  color: #2959ce;
}

.world-news-blog-left-card-info-text {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  padding: 0;
  margin: 0;
  margin-bottom: 17px;
}
.world-news-blog-left-card-info-footer {
  display: flex;
  align-items: center;
}
.world-news-blog-left-card-info-footer-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.world-news-blog-left-card-info-footer-link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
  text-decoration: none;
}
.world-news-blog-left-card-info-footer-link:hover {
  color: #2959ce;
  text-decoration-line: underline;
}
.world-news-link {
  background: #eaeaea;
  border-radius: 10px;
  display: block;
  text-align: center;
  padding: 17px 0;
  text-decoration: none;
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.world-news-link:hover {
  color: #2959ce;
}

/* world-news-blog-right */

.world-news-blog-right {
  width: 393px;
  height: auto;
}
.world-glavnoe {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 25px;
}

.world-glavnoe-info-title {
  width: 311px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}
.world-glavnoe-top {
  padding: 20px 17px 25px;
  height: auto;
  background: #f6f6f6;
  border-radius: 15px;
  margin-bottom: 10px;
}
.world-glavnoe-info-link {
  color: #000000;
  text-decoration: none;
}
.world-glavnoe-info-link:hover {
  color: #2959ce;
}
.world-glavnoe-info-source-link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}
.world-glavnoe-info-source-link:hover {
  color: #2959ce;
  text-decoration-line: underline;
}

.world-glavnoe-hr {
  border: 0;
  height: 1px;
  background: #999;
  margin-top: 20px;
}

.advertising-img {
  display: flex;
  border-radius: 15px;
  width: 393px;
  height: 338px;
  object-fit: contain;
}

  /* FOOTER  */

  

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .notification {
    background-image: url("/images/notification@2x.jpg");
  }
}
