@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* GLOBAL  */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1260px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

.main-content {
  flex-grow: 1;
}

/* HEADER  */

.site-header {
}
.site-header-top {
  background: #f6f6f6;

  width: 100%;
}
.site-header-container {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header-logo {
  padding: 9px 6px 8px;
  background: #fff;
  border-radius: 4px;
  margin-right: 35px;
}
.site-header-logo-img {
  display: flex;
}
.corrency-rates {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.corrency-rates-item {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.corrency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.corrency-rates-type {
  color: #2959ce;
}
.corrency-rates-value {
  color: #666;
}
.site-header-top-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.registr-form {
  margin-right: 25px;
}
.registr-form input {
  width: 275px;
  height: 45px;
  background: #ffffff;
  border-radius: 60px;
  padding: 15px;
  outline: none;
  border: 0;
}

.sircle {
  display: flex;
  align-items: center;
  width: 70px;
  height: 36px;
  background: #dce6ff;
  border-radius: 39px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  color: #000000;
  padding: 3px;
  margin-right: 25px;
}
.lang-uz {
  padding: 9px 7px;
  background: #fff;
  border-radius: 50%;
  margin-right: 8px;
}
.lang-ru {
  color: #a6a6a6;
}
.get-in {
  text-decoration: none;
  background: #7296ec;
  border-radius: 10px;
  padding: 13px 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* SITE HEADER BOTTOM  */

.site-header-bottom {
}

.sitenav {
  display: flex;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}
.sitenav-list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
.navlist-item {
  margin-right: 34.44px;
}
.navlist-link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}
.banner {
}
.banner-img {
  margin-top: 40px;
  margin-bottom: 50px;
}
